html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --black-text-color: #000000;
  --white-text-color: #ffffff;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-hero-bg-color: #2f303a;
  --focus-hover-color: #188ce8;
  --primary-border-color: #eeeeee;
  --secondary-border-color: #ececec;
  --company-logo-color: #afb1b8;
  --primary-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0 auto;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: 0.03em;
  max-width: 1600px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  border-bottom: 1px solid var(--secondary-border-color);
}

.page-header .container,
.footer .container {
  display: flex;
  align-items: center;
}

.page-header-nav,
.site-nav.list,
.contacts.list {
  display: flex;
  align-items: center;
}

/* logo */
.nav-logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  color: var(--black-text-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  transition: color 250ms var(--primary-timing-function);
}

.logo:focus,
.logo:hover {
  color: var(--accent-color);
}
.blue-text {
  color: var(--accent-color);
}

/* site-nav */

.site-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--primary-timing-function);
}

.site-nav .site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-item {
  position: relative;
}

.site-nav .current {
  color: var(--accent-color);
}

.site-nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* contacts */

.contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  fill: var(--primary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--primary-timing-function),
    fill 250ms var(--primary-timing-function);
}

.contacts.list {
  margin-left: auto;
}

.contacts-item {
  display: flex;
  margin-right: 50px;
}

.mail-icon,
.phone-icon {
  margin-right: 10px;
}

.contacts .contacts-item:last-child {
  margin-right: 0;
}

/* альтернатива */
/* .contacts .contacts-item:not(:last-child){
  margin-right: 50px; */

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--footer-hero-bg-color);
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--black-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero-title {
  width: 696px;
  height: 120px;
  margin: auto;
  margin-bottom: 30px;

  color: var(--white-text-color);

  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button */
.primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;

  color: var(--white-text-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  transition: background-color 250ms var(--primary-timing-function);
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--focus-hover-color);
  cursor: pointer;
}

.secondary-button {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;

  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;

  transition: color 250ms var(--primary-timing-function),
    background-color 250ms var(--primary-timing-function),
    box-shadow 250ms var(--primary-timing-function);
}

.secondary-button:hover,
.secondary-button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* sections */
.hidden {
  visibility: hidden;
  font-size: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* features */

.feature-list {
  display: flex;
  justify-content: space-between;
}

.feature-list-item {
  width: 270px;
}

.feature-list-icon {
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 25px 100px;
}

.feature-title {
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-text {
  line-height: 1.71;
}

/* works */

.work-list {
  display: flex;
  justify-content: space-between;
}

/* альтернатива */
/* .work .section-title {
  margin-top: -94px;
} */

.work {
  padding-top: 0;
}

.work-list-item {
  position: relative;
}
.work-list-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 70px;

  background: rgba(47, 48, 58, 0.8);
  color: var(--white-text-color);
}

.work-list-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 70px;

  font-weight: 700;
  line-height: 1.14;

  text-transform: uppercase;
}

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* team */
.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.member-card {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.member-name {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.member-profession {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}

.member-card .social-list {
  margin: 0 32px 30px;
}

.member-social-icon {
  display: flex;
  align-items: center;
  padding: 12px;
  fill: var(--company-logo-color);
  border-radius: 50%;

  transition: fill 250ms var(--primary-timing-function),
    background-color 250ms var(--primary-timing-function);
}

.member-social-icon:hover,
.member-social-icon:focus {
  fill: var(--white-text-color);
  background-color: var(--accent-color);
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.company-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  fill: var(--company-logo-color);
  padding: 16px 32px;
  border: 1px solid var(--company-logo-color);
  border-radius: 4px;

  transition: border-color 250ms var(--primary-timing-function),
    fill 250ms var(--primary-timing-function);
}

.company-logo:hover,
.company-logo:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* filters */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .filter-list-item:not(:last-child) {
  margin-right: 8px;
}

/* portfolio */

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

/* альтернатива */

/* .portfolio .portfolio-list-item {
  width: 33.3333%;
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 30px * 2) / 3);
} */

.portfolio-list-item-sign {
  border-right: 1px solid var(--primary-border-color);
  border-left: 1px solid var(--primary-border-color);
  border-bottom: 1px solid var(--primary-border-color);
  padding: 20px 24px;
}

.portfolio .portfolio-title {
  margin-bottom: 4px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .portfolio-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-list-link {
  display: inline-block;

  transition: background-color 250ms var(--primary-timing-function),
    box-shadow 250ms var(--primary-timing-function);
}

.portfolio-list-link:hover {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-link:hover .portfolio-list-item-overlay {
  transform: translateY(0);
}

.portfolio-list-item-img {
  position: relative;
  width: 370px;
  overflow: hidden;
}

.portfolio-list-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);

  transition: transform 250ms var(--primary-timing-function);
}

.portfolio-list-item-description {
  position: absolute;
  width: 322px;
  height: initial;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 18px;
  line-height: 1.56;

  color: var(--white-text-color);
}

/* footer */
.footer {
  background-color: var(--footer-hero-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  color: var(--white-text-color);

  transition: color 250ms var(--primary-timing-function);
}

.footer .logo:focus,
.footer .logo:hover {
  color: var(--accent-color);
}

.footer-logo {
  margin-bottom: 20px;
}

.address-link {
  font-style: normal;
  line-height: 1.71;
  color: var(--white-text-color);
  margin-right: 70px;

  transition: color 250ms var(--primary-timing-function);
}

.address-link:hover,
.address-link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.address .address-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-link {
  font-style: normal;
  color: var(--contacts-footer-color);

  transition: color 250ms var(--primary-timing-function);
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 206px;
}

.social-invitement,
.subscribe-text {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1, 14;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.subscribe {
  margin-left: auto;
}

.social-link {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms var(--primary-timing-function);
}

.social-icon {
  fill: var(--white-text-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.subscribe-form {
  display: flex;
}

.send-icon {
  margin-left: 10px;
}

.footer-nav input {
  margin-right: 12px;
  width: 358px;
  padding: 16px 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;

  color: var(--white-text-color);
  font-size: 16px;
  font-family: inherit;
}

.footer-nav input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-family: inherit;
}

.footer-nav {
  display: inline-block;
}

.subscribe {
  margin-left: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--primary-timing-function);
}

.backdrop.is-hidden {
  visibility: inherit;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--primary-timing-function);

  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;

  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-form-text {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.modal-form-list {
  margin-bottom: 10px;
}

.modal-form-list label {
  display: flex;
  width: 100%;
  flex-direction: column;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.modal-form-list input {
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding: 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  font-family: inherit;
  font-weight: inherit;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.modal-textarea {
  position: relative;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);

  transition: border 250ms var(--primary-timing-function);
}

.modal-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-icon {
  position: absolute;
  transform: translate(12px, 29px);

  fill: var(--title-text-color);

  transition: border 250ms var(--primary-timing-function),
    fill 250ms var(--primary-timing-function);
}

.modal-form-list input:hover,
.modal-form-list input:focus,
.modal-textarea:hover,
.modal-textarea:focus {
  border: 1px solid var(--accent-color);
}

.modal-form-list input:hover ~ .modal-form-icon,
.modal-form-list input:focus ~ .modal-form-icon {
  fill: var(--accent-color);
}

.modal-checkbox {
  display: flex;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 30px;

  line-height: 1.71;
  color: var(--primary-text-color);
}

.checkbox {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.modal-checkbox-label {
  display: flex;
  align-items: center;

  cursor: pointer;
}
.modal-checkbox-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-color: transparent;
  border: 1.5px solid var(--title-text-color);
  border-radius: 2px;
}

.checkbox:checked ~ .modal-checkbox-label::before {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.agreement {
  padding-left: 3px;
  text-decoration: underline;
  color: var(--accent-color);
}

.modal-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  cursor: pointer;

  background-size: contain;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  fill: var(--black-text-color);

  transition: fill 250ms var(--primary-timing-function);
}

.modal-close:hover {
  fill: var(--accent-color);
}
