.clients__list {
  @include flex(space-between, null);
}

.clients__logo {
  @include flex(space-between, center);

  fill: $company-logo-color;
  padding: 16px 32px;

  @include border($company-logo-color);

  @include transition(border-color);
  @include transition(fill);

  &:hover,
  &:focus {
    border-color: $accent-color;
    fill: $accent-color;
  }
}
