.social__list {
  @include flex(space-between, center);
  width: 206px;
}

.social__icon {
  fill: $white-text-color;
}

.social__link {
  @include flex(null, center);
  width: 44px;
  height: 44px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
