@mixin flex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin transition($property) {
  transition: $property 250ms $primary-timing-function;
}

@mixin border($border-color) {
  border: 1px solid $border-color;
  border-radius: 4px;
}
